.grid td {
  width: 10px;
  height: 10px;
  border: silver solid 1px;
}
.grid td.I {
  background-color: turquoise;
}

.grid td.O {
  background-color: yellow;
}
.grid td.T {
  background-color: purple;
}
.grid td.J {
  background-color: blue;
}
.grid td.L {
  background-color: orange;
}
.grid td.S {
  background-color: greenyellow;
}
.grid td.Z {
  background-color: red;
}

.grid td.ghost {
  background-color: gray;
}

.grid {
  border: gray solid 2px;
}
